container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}


.filterOpts {
  display: grid;
  position: fixed;
  background: rgba(0, 255, 21, 0.552);
  align-items: center;
  padding: 5% 0 5% 0;
  width: 15%;
  grid-area: 1 / 1 / 8 / 1; 
  }
  
 p {
  font-stretch: expanded;
  font-size: 16px;
}

h4 {
  font-size: 1.4em;
  font-weight:400;
}

.filterOpts > label, form, select {
  font-size: 1.2rem;
}

.filterOpts > label, form, select, h4 {
  width: 80%;
  justify-content: center;
  padding: 10px;
  margin: 10px;

}

h1 {
  padding: 10px;
  margin-top: 2%;
  justify-content: center;
  font-size: 2.5em;
  display: grid;
  position: fixed;
  color: black;
  font-family: "ActionComBlk";



}

.header {
  display: grid;
  font-size: 32px;
  justify-content: center;
  grid-area: 2 / 3 / 1 / 6;

}

.list {
  z-index: 1;
  display: grid;
  margin-top: 15%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-area: 1 / 4 / 3 / 5;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 75vw;
}

img {
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #00000075;
}

img:hover {
  box-shadow: 0 0 -6px 0 #00000075; 
  width: 98%;
  height:auto;
}
