/* .App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
} */
.filterOpts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  }
  

.filterOpts {
  display: grid;
  float: left;
  margin: 10px;
}

label, form {
  padding: 10px;
}

.stats {
  padding: -10px;
  margin: -10px;
  grid-area: 4 / 1 / 5 / 2;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 4em;
}
.list {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 75vw;
}
/* .App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
} */