

.filterOpts {
  display: grid;
  position: fixed;
  background: rgba(0, 255, 21, 0.552);
  align-items: center;
  padding: 5% 0 5% 0;
  width: 15%;
  grid-area: 1 / 1 / 8 / 1; 
}
  
p {
  font-size: 24px;
  font-family: "Arial";
}

a {
  display: inline-flex;
  width: 100%;
  
}

h4 {
  display: flex;
  margin: 0 50% 0 50%;
  font-size: 1.75em;
  font-weight:400;
  font-family: "Exp";
  justify-content: center;
}

/* .filterOpts > label, form, select {
  font-size: 1.2rem;
}

.filterOpts > label, form, select, h4 {
  width: 80%;
  justify-content: center;
  padding: 10px;
  margin: 10px;

} */

h1 {
  margin: 2%;
  justify-content: center;
  font-size: 5em;
  display: flex;
  color: black;
  font-family: "Exp";



}


.list {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-area: 1 / 4 / 3 / 5;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 75vw;
}

.charImg {
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
  width: 100%;
}

button {
  height: 10%;
  margin: auto 40%;
  justify-items: center;
  width: 20vw;
  padding: 15px;
}

span {
  display: flex;
  margin: 2% auto;
  justify-content: center;
  
}

form {
  background: yellow;
}

form > input {
  display: flex;
  margin: auto ;
  font-size: 1em;
  padding: 5px;
  width: 25vw;
  justify-items: center;

}

img {
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #00000075;
  display: flex;
  justify-content: center;
  align-content: center;

}

img:hover {
  box-shadow: 0 0 -6px 0 #00000075; 
}
